

.Top{
    border: 1px solid black;
    height: 500px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/CT5CNXjsQLaWrqVg7WYnzR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Top button{
    width: 250px;
    height: 50px;
    margin-left: 68%;
    margin-top: 30%;
    border-radius: 10px;
    color: white;
    font-size: large;
    background-color: #822023;

}
.Top button:hover{
    background-color: #ffbb4b;

}
.Catalogo{
    display: flex;
    flex-wrap: wrap;
}

.Producto{
    width: 33%;
    
}


.btn{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
    background-color: #6384c3;
    margin-left: 25%;
    margin-bottom: 50px;
    margin-top: 10px;
    
    
}
.btn:hover{
    background-color: #822023; 

}
.Grid{
    border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}
.Grid p{
    font-family: Arial, Helvetica, sans-serif;
}
.Grid h1{
    font-family: Arial, Helvetica, sans-serif;
}.Grid h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffbb4b ;
}
.G{
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
    object-fit: contain;

}
.G img{
    width: 100%;
}
