*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#l0{
    margin: auto
}

#l1toptitle{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.freepik.com/free-photo/close-up-man-playing-acoustic-guitar-dark-with-stage-lighting_169016-14178.jpg?w=1060&t=st=1696090554~exp=1696091154~hmac=b29f783975fde5297dc787d45c8f05ba9c7d3e630a09d1306ea49fcc8340a47f");
    /* border: 1px transparent solid; */
}

.l2{
    width: 50%;
    /* border: 1px blue solid; */
    margin-left: 50%;
    padding-top: 200px;
    height: 200px;
    display: flex;
}

.l3{
    margin-left: 20%;
    margin-top: 30px;
    /* border: 1px green solid; */
    color: white;
    background-color: brown;
    width: 190px;
    height: 52px;
    display: flex;
    border-radius: 6px;
}
.l3:hover{
    border: 2px brown solid;
    color: brown;
    background-color: white;
    cursor: pointer;
}
.l3 p{
    margin: auto;
}
#l1middlelabel{
    width: 100%;
    height: 150px;
    /* border: 1px red solid; */
    display: flex;
}

#l1middlelabel p {
   margin: auto;
   font-size: 50px;
   font-weight: bold;
}
#l1bottomproducts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.l2producto{
    /* border: 1px solid red; */
    
    margin-bottom: 80px;
    margin-left: 13px;
    margin-right: 13px;
}
.l3top{
    /* border: 1px blue solid; */
    display: flex
}
.imgproductos{
    width:40%;
    /* border: 1px  solid yellow; */
}
.imgproductos img{
    object-fit: contain;
    height: 385px;
    width:100%;
    /* border: 1px  solid yellow; */

}
.infoprodc{
    border: 1px black solid;
    border-radius: 5px;
    width: 60%;
}

.nameprod{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height:80px;
    /* border: 1px red solid; */
}
.nameprod p{
    margin: auto;
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    /* border: 1px solid black; */
    text-align: center;
}

.descprod{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* border: 1px red solid; */
}

.descprod p{
    margin: auto;
    width: 90%;
    /* border: 1px solid black; */
    text-align: justify;
}

.precioprod{
    margin-top: 40px;
    display: flex;
    /* border: 1px red solid; */
}

.precioprod p{
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    color: #ffa500;
    /* border: 1px solid black; */ 
}

.l3btn{
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.l3btn button{
    margin: auto;
    width: 50%;
    height: 50px;
    color: white;
    background-color: #6384c3;
    text-align: center;
    align-items: center;
    border: none;
}
.l3btn button:hover{
    color: #6384c3;
    background-color: white;
    border: 2px #6384c3 solid;
    cursor: pointer;
}Z
