*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.padre{
    /* border: 1px red solid; */
    padding: 5px;
    height: 100%;

}

.background{
    background-image: url('Assets/1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    padding: 10px;
    width: 100%;
    /* margin: 2px blue solid; */
    /* border: 1px black solid; */
}

.titulo{
    /* border: 2px red solid; */
    text-align: center;
    padding: 1px;
    margin-top: 100px;
    color: white;
    font-size: 26px;

}

.txt{
    /* border: 2px rgba(0, 0, 0, 0.964) solid; */
    font-size: 20px;
    text-align: left;
    height: 80px;
    margin-right: 55%;
    color: white ;
    margin-left: 50px;
    
}

.button button{
    width:  15%;
    height: 60px;
    background-color: transparent;
    color: white;
    border: 1px white solid   ;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    margin-left: 70%;
    margin-top: 15%;

}

.button button:hover{
    cursor: pointer;
    font-weight: bold;
    border: 2px white solid;
}

.title{
    font-size: 25px;
    /* border: 1px red solid; */
    width: 100%;
    text-align: center;
    margin-top: 50px;   
}

.container-img{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: red solid; */
    width: 30%;
    padding: 1px;
    column-gap: 4rem;
    row-gap: 1rem;
    margin-top: 50px;
}

.img{
    /* border: 1px red solid;  */
    height: 100%;
    font-style: italic 100px;
}

.img1 img{
    width: auto;
}

.titulo-1{
    /* border: 1px blueviolet solid; */
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    
}



.text{
    /* border: 1px green solid; */
    width: 100%;
    align-items: center;
}

.button-img{
    align-items: center;
    display: flex;
    
}

.button-img button{
    margin: auto;
    height: 50px;
    width: 50%;
    margin-top: 20px;
    color: white;
    background-color: rgb(111, 111, 187);
    border: none;
}

.t1{
    margin-top: 50px;
}
.p1{
    margin-top: 100px;
    text-align: center;
}

.p1 h1{
    color: orange   ;
    
}



.container-content{
    border: 2px blue solid;
    width: 550px;
    align-items: center;
    display: flex;
    flex-direction: row;
}


.container-content img{
    display: flex;
    
    height: 600px;
    width: 300px;
    
   
}

.img h1{
    font-size: 40px;
    margin: 20px 0px 20px 0px;
    flex-direction: row;

}

.img p{
    font-size: 18px;
    flex-direction: row;
}

