*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    grid-template-rows: repeat(3, 1fr)
} 

.container-into{
    background-image: url(https://cdn.pixabay.com/photo/2017/11/07/00/18/guitar-2925274_1280.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}

.container-into button{
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
    border: 1px solid red;
    color: white;
    padding: 10px 35px 10px 35px;   
    position: absolute;
    top: 33%;
    right: 20%; 
}

.container-into button:hover{
    cursor: pointer;
    color: red;
    background-color: white;
    border: 1px solid red;
}

.catalogo{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.container-prod{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 100px;
    padding: 1rem;
}


.prod-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100%;
}

.img img{
    background-size: cover;
    height: 100%;
    width: 100%;
}

.info{
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.info p{
    padding-top: 5rem;
    font-size: 12px;
}

.info h4{
    padding-top: 2rem;
    text-align: center;
}

.info h3{
    padding-top: 5rem;
    text-align: center;
    color: #ffbc49;
}

.btn1{
    margin: 1rem;
    cursor: pointer;
    background-color:#6384c3;
    border: 1px solid #6384c3;
    color: white;
    padding: 10px 35px 10px 35px;  
    margin-left: 25%;
}

.btn1:hover{
    cursor: pointer;
    color: #6384c3;
    background-color: white;
    border: 1px solid #6384c3;
}
