.papa{
    display: grid;
    height: 500px;
    width: 100%;
}

.img-guitarra{
    background-image: url(assets/download\ \(3\).jpg);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .5);
    position: relative;
}

.btn-guitarra button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}


.btn-guitarra button{
    display: flex;
    padding: 20px 60px 20px 60px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 350px;
    bottom: 150px;

}

.titulo{
    text-align: center;
    font-size: 150%;
}

.colmnas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 50px;
    gap: 2rem;
}
.cont{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px black solid;
}
.img1 img{
    width: 100%;
    height: 100%;
}
.img2 img{
    width: 100%;
    height: 100%;
}
.img3 img{
    width: 100%;
    height: 100%;
}
.img4 img{
    width: 100%;
    height: 100%;
}
.img5 img{
    width: 100%;
    height: 100%;
}
.img6 img{
    width: 100%;
    height: 100%;
}
.img7 img{
    width: 100%;
    height: 100%;
}
.img8 img{
    width: 100%;
    height: 100%;
}
.img1{
    width: 30%;
    
}
.txt1{
    width: 70%;
}
.img2{
    width: 30%;
    
}
.txt2{
    width: 70%;
}
.img3{
    width: 30%;
    
}
.txt3{
    width: 70%;
}
.img4{
    width: 30%;
    
}
.txt4{
    width: 70%;
}
.img5{
    width: 30%;   
}
.txt5{
    width: 70%;
}

.img6{
    width: 30%;   
}
.txt6{
    width: 70%;
}

.img7{
    width: 30%;   
}
.txt7{
    width: 70%;
}

.img8{
    width: 30%;   
}
.txt8{
    width: 70%;
}

.btn-carrito1 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito2 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito3 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito4 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito5 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito6 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito7 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito8 button:hover{
    background-color: rgb(97, 95, 95);
    border: 1px black solid;
    color: white;
    cursor: pointer;
}
.btn-carrito1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-carrito2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-carrito3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-carrito4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-carrito5{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-carrito6{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-carrito7{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-carrito8{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-carrito1 button{
    display: flex;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}
.btn-carrito2 button{
    display: flex;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}
.btn-carrito3 button{
    display: flex;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}
.btn-carrito4 button{
    display: flex;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}
.btn-carrito5 button{
    display: flex;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}

.btn-carrito6 button{
    display: flex;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}

.btn-carrito7 button{
    display: flex;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}

.btn-carrito8 button{
    display: grid;
    padding: 10px 30px;
    background-color: lightblue;
    color: white;
}

.txt1 h2{
    text-align: center;
}
.txt2 h2{
    text-align: center;
}
.txt3 h2{
    text-align: center;
}
.txt4 h2{
    text-align: center;
}
.txt5 h2{
    text-align: center;
}
.txt6 h2{
    text-align: center;
}
.txt7 h2{
    text-align: center;
}
.txt8 h2{
    text-align: center;
}

.txt1 h3{
    text-align: center;
    color: yellow;
}
.txt2 h3{
    text-align: center;
    color: yellow;
}
.txt3 h3{
    text-align: center;
    color: yellow;
}
.txt4 h3{
    text-align: center;
    color: yellow;
}
.txt5 h3{
    text-align: center;
    color: yellow;
}
.txt6 h3{
    text-align: center;
    color: yellow;
}
.txt7 h3{
    text-align: center;
    color: yellow;
}
.txt8 h3{
    text-align: center;
    color: yellow;
}